.bord:hover {
    border: 2px solid black;
    height: auto;
}
.cor:hover {
    border: 2px solid black;
    height: auto;
}

#primaria {
    background-color: blue;
    color: aliceblue;
}
#secundaria {
    background-color: blueviolet;
    color: rosybrown;
}
#complementar {
    background-color: brown;
    color: chartreuse;
}
#escura {
    background-color: black;
    color: aliceblue;
}
#clara {
    background-color: aliceblue;
    color: black;
}