ol {
    background-color: yellow;
}

h2 em {
    color: red;
    width: 40px;
    border: 1px solid black;
}

h3 em {
    color: red;
    width: 40px;
    border: 1px solid black;
}

h1 em {
    color: red;
    width: 40px;
    border: 1px solid black;
}

li em{
    font-size: 20px;
    font-weight: bold;
}

ol li:nth-child(even) {
	color: green;
}

ol li:nth-child(odd) {
	text-transform: uppercase;
}

.tres {
    color: blue;
}

li.fundo {
    background-color: rgb(235, 147, 223);
}

a.stacks:hover {
    font-weight: bold;
    color: orange;
}

a.w3schools:hover {
    font-weight: bold;
    color: rgb(0, 255, 13);
}

a.mdn:hover {
    font-weight: bold;
    color: rgb(2, 2, 2);
}

a.devdocs:hover {
    font-weight: bold;
    color: rgb(238, 234, 8);
}

a.trybe:hover {
    font-weight: bold;
    color: rgb(3, 134, 20);
}

/*
li.linkes:hover {
    font-weight: bold;
}

   

/*
a:hover {
    font-weight: bold; 
    color: orange;   
}
*/

